
Universo/.vs/Universo/DesignTimeBuild/.dtbcache.v2
Universo/.vs/Universo/v16/.suo
Universo/Universo/obj/Debug/net5.0-windows/InitialPage.baml
Universo/Universo/obj/Debug/net5.0-windows/InitialPage.g.cs
Universo/Universo/obj/Debug/net5.0-windows/InitialPage.g.i.cs
Universo/Universo/obj/Debug/net5.0-windows/Jogging.baml
Universo/Universo/obj/Debug/net5.0-windows/Jogging.g.cs
Universo/Universo/obj/Debug/net5.0-windows/Jogging.g.i.cs
Universo/Universo/obj/Debug/net5.0-windows/MainWindow.baml
Universo/Universo/obj/Debug/net5.0-windows/MainWindow.g.cs
Universo/Universo/obj/Debug/net5.0-windows/MainWindow.g.i.cs
Universo/Universo/obj/Debug/net5.0-windows/Universo.assets.cache
Universo/Universo/obj/Debug/net5.0-windows/Universo.csproj.AssemblyReference.cache
Universo/Universo/obj/Debug/net5.0-windows/Universo.GeneratedMSBuildEditorConfig.editorconfig
Universo/Universo/obj/Debug/net5.0-windows/Universo_MarkupCompile.cache
Universo/Universo/obj/Debug/net5.0-windows/Universo_MarkupCompile.i.cache
Universo/Universo/obj/Debug/net5.0-windows/Universo_MarkupCompile.i.lref
Universo/Universo/obj/Debug/net5.0-windows/Universo_MarkupCompile.lref
Universo/Universo/obj/project.assets.json
Universo/Universo/obj/project.nuget.cache
Universo/Universo/obj/Universo.csproj.nuget.dgspec.json
